aiofiles
aiohappyeyeballs
aiohttp
aiosignal
annotated-types
asgiref
attrs
bbpb
blinker
certifi
charset-normalizer
click
colorama
Flask
flask-openapi3
frozenlist
h11
h2
hpack
Hypercorn
hyperframe
idna
itsdangerous
Jinja2
MarkupSafe
multidict
priority
pydantic
pydantic_core
python-dotenv
Quart
quart-cors
requests
setuptools
six
typing_extensions
urllib3
Werkzeug
wsproto
yarl
youtube-transcript-api
